<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h3 class="mb-2 h2">Khôi phục mật khẩu</h3>
            <p class="lead">
              Vui lòng nhập đầy đủ thông tin mà chúng tôi yêu cầu để chúng tôi có thể thay đổi mật khẩu giúp bạn.
            </p>
          </div>

          <form [formGroup]="formReset">
            <div class="form-group mb-4">
              <label for="#">Nhập mã OTP</label>
              <input type="text" class="form-control" formControlName="isOtp" placeholder="Nhập mã OTP" />
              <small class="col alert text-danger col-12" role="alert"
                  *ngIf="formReset.get('isOtp')?.errors?.['required'] && formReset.get('isOtp')?.touched || submit && formReset.get('isOtp')?.errors?.['required'] ">
                  Mã OTP không được để trống!
                </small>
            </div>
            <div class="form-group mb-4">
              <label for="#">Nhập mật khẩu mới</label>
              <input type="password" class="form-control" formControlName="newPassword" placeholder="Nhập mật khẩu mới" />
              <small class="col alert text-danger col-12" role="alert"
                  *ngIf="formReset.get('newPassword')?.errors?.['required'] && formReset.get('newPassword')?.touched || submit && formReset.get('newPassword')?.errors?.['required'] ">
                  Mật khẩu mới không được để trống!
                </small>
                <!-- <ng-container *ngIf="formReset.get('newPassword')!.invalid">
                  <span
                    class="mt-1 text-danger"
                    *ngIf="formReset.get('newPassword')?.touched"
                    >{{ (formReset.get("newPassword")?.errors)!["newPassword"] }}</span
                  >
                </ng-container> -->
            </div>
            <div class="form-group mb-4">
              <label for="#">Xác nhận mật khẩu mới</label>
              <input type="password" class="form-control" formControlName="rePassword" placeholder="Nhập mật khẩu xác nhận" />
              <small class="col alert text-danger col-12" role="alert"
                  *ngIf="formReset.get('rePassword')?.errors?.['required'] && formReset.get('rePassword')?.touched || submit && formReset.get('rePassword')?.errors?.['required'] ">
                  Xác nhận mật khẩu mới không được để trống!
                </small>
            </div>
            <a class="btn btn-main mt-3 btn-block" (click)="resetPass()">Lưu</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
