.btn-add-to-cart{
    background-color: white;
    color: black !important;
    border-color: #fb5c42;
    margin-right: 20px;
}
.btn-add-to-cart:hover{
    background-color: #fb5c42;
    color: rgb(255, 255, 255) !important;
}