<ng-container *ngIf="!isCreateOrderSuccess; else infoOrder">
  <div class="page-wrapper">
    <div class="checkout shopping">
      <h1 class="text-center">Thanh toán</h1>
      <form [formGroup]="formCheckout" #form="ngForm" (ngSubmit)="checkout()">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 pr-5">
              <div class="billing-details">
                <h4 class="mb-4">Thông tin giao hàng</h4>
                <ng-container *ngIf="!addressSelected; else showInfoAddress">
                  <button
                    nz-button
                    nzType="primary"
                    (click)="openModalSelectAddress(); $event.preventDefault()"
                  >
                    Chọn địa chỉ
                  </button>
                  <span class="text-danger" *ngIf="form.submitted"
                    >Vui lòng chọn địa chỉ</span
                  >
                </ng-container>
                <ng-template #showInfoAddress>
                  <p>Họ và tên: {{ addressSelected.recipientName }}</p>
                  <p>Số điện thoại: {{ addressSelected.recipientPhone }}</p>
                  <p>Email: {{ addressSelected.recipientEmail }}</p>
                  <p>
                    Địa chỉ:
                    {{
                      addressSelected.detail +
                        ", " +
                        addressSelected.ward +
                        ", " +
                        addressSelected.district +
                        ", " +
                        addressSelected.province
                    }}
                  </p>
                  <button
                    nz-button
                    nzType="default"
                    (click)="openModalSelectAddress(); $event.preventDefault()"
                  >
                    Thay đổi
                  </button>
                </ng-template>
                <div class="form-group mb-4 mt-3">
                  <label for="note">Ghi chú</label>
                  <textarea
                    class="form-control"
                    formControlName="note"
                    id="note"
                    cols="30"
                    rows="5"
                    placeholder="Ghi chú đơn hàng"
                  ></textarea>
                </div>
              </div>
            </div>

            <!-- Order sidebar Summery -->
            <div class="col-md-6 col-lg-4">
              <app-voucher-order
                (onSelectVoucher)="onSelectVoucher($event)"
                [goodValue]="totalMoneyCart"
              ></app-voucher-order>
              <div class="product-checkout-details mt-5 mt-lg-0">
                <h4 class="mb-4 border-bottom pb-4">Sản phẩm</h4>
                <div class="media mb-2" *ngFor="let item of cartItems">
                  <a routerLink="/product-single">
                    <img
                      style="width: 100px"
                      [src]="item.productDetailDTO.image"
                      alt="image"
                    />
                  </a>
                  <div style="padding-left: 10px" class="media-body">
                    <h6>
                      {{ item.productDetailDTO.productDetailName }}
                    </h6>
                    <div class="cart-price">
                      <span>{{ item.amount }} x</span>
                      <span>{{ item.productDetailDTO.price | number }} đ</span>
                    </div>
                  </div>
                </div>
                <!-- / Cart Item -->
                <div class="cart-summary">
                  <div class="d-flex justify-content-between">
                    <span class="h6">Tiền hàng</span>
                    <span class="total-price h6"
                      >{{ totalMoneyCart | number }} đ</span
                    >
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="h6">Phí ship</span>
                    <span class="total-price h6">{{ shipFee | number }} đ</span>
                  </div>
                  <div class="d-flex justify-content-between" *ngIf="voucher">
                    <span class="h6">Giảm giá</span>
                    <span class="total-price h6">-{{ sale | number }} đ</span>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="h6">Tổng tiền</span>
                    <span class="total-price h6"
                      >{{ totalMoneyCart + shipFee - sale | number }} đ</span
                    >
                  </div>

                  <div class="text-center cart-buttons mt-3">
                    <button
                      type="submit"
                      class="btn btn-small btn-main btn-block"
                    >
                      Đặt hàng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div></ng-container
>
<ng-template #infoOrder>
  <div class="container">
    ~
    <h3 class="text-success text-center mt-3">
      <b>Tạo đơn hàng thành công!</b>
    </h3>
    <p class="text-success text-center">
      <b
        >Đơn hàng chưa thanh toán. Bạn hãy tiến hành thanh toán để hoàn thành
        việc đặt hàng!</b
      >
    </p>
    <div class="bg-white rounded-3 mb-3">
      <div class="d-flex">
        <div class="border-end m-3 pe-3">
          <p><b>Mã đơn hàng</b></p>
          <p>HD{{ order.id }}</p>
        </div>
        <div class="border-end m-3 pe-3">
          <p><b>Ngày tạo</b></p>
          <p>
            {{ order.ctime | date }}
          </p>
        </div>
        <div class="border-end m-3 pe-3">
          <p><b>Tổng tiền hàng</b></p>
          <p>{{ order.goodsValue | number }}đ</p>
        </div>
        <div *ngIf="order.delivery == 1" class="border-end m-3 pe-3">
          <p><b>Phí vận chuyển</b></p>
          <p>{{ order.shipFee | number }}đ</p>
        </div>
        <div *ngIf="order.voucher" class="border-end m-3 pe-3">
          <p><b>Giảm giá</b></p>
          <p>-{{ order.sale | number }}đ</p>
        </div>
        <div class="border-end m-3 pe-3">
          <p><b>Tổng tiền</b></p>
          <p>{{ order.totalMoney | number }}đ</p>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-3 p-3 mb-3">
      <p><b>Thông tin người nhận</b></p>
      <div class="">
        <p><b>Tên người nhận: </b>{{ order.recipientName }}</p>
        <p><b>Địa chỉ người nhận: </b>{{ order.address }}</p>
        <p><b>SĐT người nhận: </b>{{ order.recipientPhone }}</p>
        <p><b>Email người nhận: </b>{{ order.recipientEmail }}</p>
        <p><b>Ghi chú: </b>{{ order.note }}</p>
      </div>
    </div>
    <div class="bg-white rounded-3 p-3 mb-4">
      <p><b>Thông tin đơn hàng</b></p>
      <div class="mb-2">
        <table class="table">
          <thead>
            <tr>
              <th>Ảnh</th>
              <th scope="col">Sảm phẩm</th>
              <th scope="col">SL</th>
              <th scope="col">Đơn giá</th>
              <th scope="col">Thành tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let orderDetail of order.orderDetails">
              <td>
                <img
                  [src]="orderDetail.productDetail.image"
                  alt=""
                  width="50"
                />
              </td>
              <td>{{ orderDetail.productDetail!.productDetailName }}</td>
              <td>{{ orderDetail.quantity }}</td>
              <td>{{ orderDetail.price | number }} đ</td>
              <td>
                {{ orderDetail.quantity! * orderDetail.price! | number }}đ
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="d-flex justify-content-end text-danger">
        <b>Tổng tiền: {{ order.totalMoney | number }}đ</b>
      </p>
      <div class="d-flex justify-content-end">
        <a (click)="returnHome()" class="btn btn-add-to-cart btn-small">
          Tiếp tục mua hàng
        </a>
        <a (click)="returnOrders()" class="btn btn-main btn-small">
          Xem đơn hàng
        </a>
      </div>
    </div>
  </div>
</ng-template>
