.btn-add-to-cart{
    background-color: white;
    color: black !important;
    border-color: #fb5c42;
}
.btn-add-to-cart:hover{
    background-color: #fb5c42;
    color: rgb(255, 255, 255) !important;
}
nz-divider{
    margin: 0px;
}