<section class="cart shopping page-wrapper">
  <div class="container">
    <h1 class="text-center">Giỏ hàng</h1>
    <p class="text-center mb-4">
      Có {{ cartItems.length }} sản phẩm trong giỏ hàng
    </p>
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="product-list">
          <table
            class="table shop_table shop_table_responsive cart"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th class="product-thumbnail"></th>
                <th class="product-name">Sản phẩm</th>
                <th class="product-price">Giá</th>
                <th class="product-quantity">Số lượng</th>
                <th class="product-subtotal">Tổng</th>
                <th class="product-remove"></th>
              </tr>
            </thead>

            <tbody>
              <tr class="cart_item" *ngFor="let item of cartItems; index as i">
                <td class="product-thumbnail" data-title="Thumbnail">
                  <a routerLink="/product-single"
                    ><img
                      src="https://firebasestorage.googleapis.com/v0/b/fashion-d9d81.appspot.com/o/product_images%2F1677893040676?alt=media&token=245d060c-6d91-438b-b9ec-529ab5980aa0"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt=""
                  /></a>
                </td>

                <td [width]="300" class="product-name" data-title="Product">
                  <a href="#">{{ item.productDetailDTO.productDetailName }}</a>
                </td>

                <td class="product-price" data-title="Price">
                  <span class="amount"
                    ><span class="currencySymbol">
                      <pre wp-pre-tag-3=""></pre></span
                    >{{ item.productDetailDTO.price | number }} đ</span
                  >
                </td>
                <td [width]="50">
                  <nz-input-number
                    [(ngModel)]="item.amount"
                    [nzMin]="1"
                    [nzMax]="item.productDetailDTO.stock"
                    [nzStep]="1"
                    (ngModelChange)="updateQuantity($event, item)"
                  ></nz-input-number>
                </td>
                <td class="product-subtotal" data-title="Total">
                  <span class="amount">
                    <span class="currencySymbol">
                      <pre wp-pre-tag-3=""></pre></span
                    >{{ item.amount * item.productDetailDTO.price! | number }}
                    đ
                  </span>
                </td>
                <td class="product-remove" data-title="Remove">
                  <span
                    class="text-danger"
                    nz-icon
                    style="cursor: pointer"
                    nzType="delete"
                    nzTheme="outline"
                    (click)="removeCartItem(item.id, i)"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="cart-info card p-4">
          <!-- <h4 class="mb-4"></h4> -->
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Tổng tiền:</h5>
              <span>{{ totalMoneyCart | number }} đ</span>
            </li>
            <!-- <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Shipping</h5>
              <span>Free</span>
            </li>
            <li class="d-flex justify-content-between pb-2">
              <h5>Total</h5>
              <span>$90.00</span>
            </li> -->
          </ul>
          <a routerLink="/checkout" class="btn btn-main btn-small">Đặt hàng</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <tr>
  <td colspan="6" class="actions">
    <div class="coupon">
      <input
        type="text"
        name="coupon_code"
        class="input-text form-control"
        id="coupon_code"
        value=""
        placeholder="Coupon code"
      />
      <button
        type="button"
        class="btn btn-black btn-small"
        name="apply_coupon"
        value="Apply coupon"
      >
        Apply coupon
      </button>
      <span class="float-right mt-3 mt-lg-0">
        <button
          type="button"
          class="btn btn-dark btn-small"
          name="update_cart"
          value="Update cart"
          disabled=""
        >
          Update cart
        </button>
      </span>
    </div>
    <input
      type="hidden"
      id="woocommerce-cart-nonce"
      name="woocommerce-cart-nonce"
      value="27da9ce3e8"
    />
    <input type="hidden" name="_wp_http_referer" value="/cart/" />
  </td>
</tr> -->
