<div class="tab-pane fade show active" id="settings" role="tabpanel">
  <div class="acccount-settings">
    <h4 class="mb-4 text-center">Thay đổi mật khẩu</h4>
    <form [formGroup]="formChangePassWord">
      <div class="form-row">
        <div class="form-group col-12 mb-4">
          <label>Mật khẩu cũ</label>
          <input
            placeholder="Mật khẩu hiện tại"
            formControlName="password"
            type="password"
            class="form-control"
          />
        </div>
        <div class="form-group col-12 mb-4">
          <label>Mật khẩu mới</label>
          <input
            placeholder="Mật khẩu mới"
            formControlName="newPassword"
            type="password"
            class="form-control"
          />
        </div>
        <div class="form-group col-12 mb-4">
          <label>Xác nhận mật khẩu mới</label>
          <input
            placeholder="Nhập lại mật khẩu mới"
            formControlName="rePassword"
            type="password"
            class="form-control"
          />
        </div>
      </div>
      <a class="btn btn-primary" (click)="onSubmit()">Đổi mật khẩu</a>
    </form>
  </div>
</div>
