<div class="tab-pane fade show active" id="settings" role="tabpanel">
  <div class="acccount-settings">
    <h4 class="mb-4 text-center">Thay đổi mật khẩu</h4>
    <form [formGroup]="formChangePassWord">
      <div class="form-row">
        <div class="form-group col-12 mb-4">
          <label>Mật khẩu cũ</label>
          <input
            placeholder="Mật khẩu hiện tại"
            formControlName="password"
            type="password"
            class="form-control"
          />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formChangePassWord.get('password')?.errors?.['required'] && formChangePassWord.get('password')?.touched || submit && formChangePassWord.get('password')?.errors?.['required'] "
          >
            Mật khẩu cũ không được để trống!
          </small>
        </div>
        <div class="form-group col-12 mb-4">
          <label>Mật khẩu mới</label>
          <input
            placeholder="Mật khẩu mới"
            formControlName="newPassword"
            type="password"
            class="form-control"
          />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formChangePassWord.get('newPassword')?.errors?.['required'] && formChangePassWord.get('newPassword')?.touched || submit && formChangePassWord.get('newPassword')?.errors?.['required'] "
          >
            Mật khẩu mới không được để trống!
          </small>
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formChangePassWord.get('newPassword')?.errors?.['compose'] && formChangePassWord.get('newPassword')?.touched || submit && formChangePassWord.get('newPassword')?.errors?.['compose'] "
          >
            Mật khẩu không đúng định dạng!
          </small>
        </div>
        <div class="form-group col-12 mb-4">
          <label>Xác nhận mật khẩu mới</label>
          <input
            placeholder="Nhập lại mật khẩu mới"
            formControlName="rePassword"
            type="password"
            class="form-control"
          />
          <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formChangePassWord.get('rePassword')?.errors?.['required'] && formChangePassWord.get('rePassword')?.touched || submit && formChangePassWord.get('rePassword')?.errors?.['required'] "
          >
            Mật khẩu xác nhận không được để trống!
          </small>
        </div>
      </div>
      <a class="btn btn-primary" (click)="changePass()">Đổi mật khẩu</a>
    </form>
  </div>
</div>
