<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <!-- <div class="">
          <div class="image-wrap">
            <img src="/images/icons/user.svg" alt="" id="action-upload" />
          </div>
          <div class="text-header">
            <p>Xin chào,</p>
            <p class="name">Nguyen Van Linh</p>
          </div>
        </div> -->
        <ng-container *ngFor="let item of nav">
          <div class="nav flex-column nav-pills">
            <a
              (click)="changeActive(item)"
              class="nav-link {{
                item.routerLink == activeNav ? 'active' : ''
              }}"
              [routerLink]="item.routerLink"
              >{{ item.title }}</a
            >
          </div>
        </ng-container>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" (click)="logout()">Log Out</a>
        </div>
      </div>
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
