<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="account-info">
      <h3 [ngStyle]="{ margin: '16px 0' }">Danh sách địa chỉ</h3>
      <ul nz-list [nzDataSource]="addresss" nzBordered nzSize="large">
        <li style="font-size: larger;" nz-list-item *ngFor="let address of addresss; index as i" nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a (click)="showModal(address.id!)" style="color: #0c1eec;">Edit</a>
            </nz-list-item-action>
          </ul>
          {{
            address.detail +
              ", " +
              address.ward +
              ", " +
              address.district +
              ", " +
              address.province

          }}
        </li>
      </ul>
    </div>
    <nz-modal
      [(nzVisible)]="isVisibleModal"
      nzTitle="Cập nhật địa chỉ người dùng"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      nzCancelText="Hủy"
      nzOkText="Lưu"
    >
      <ng-container *nzModalContent>
        <div>
          <form [formGroup]="formAddress" (ngSubmit)="onSubmit()">
            <div class="form-group mb-4">
              <label for="">Tỉnh/Thành phố</label>
              <nz-select
                formControlName="province"
                [nzLoading]="loadingProvince"
                nzSize="large"
                (ngModelChange)="onChangeProvince($event)"
              >
                <nz-option
                  *ngFor="let province of provinces"
                  [nzValue]="province"
                  [nzLabel]="province.name!"
                ></nz-option>
              </nz-select>
              <ng-container *ngIf="formAddress.get('province')!.invalid">
                <span
                  class="mt-1 text-danger"
                  *ngIf="formAddress.get('province')?.touched"
                  >{{
                    (formAddress.get("province")?.errors)!["required"]
                      ? "Vui lòng chọn Tỉnh/Thành phố"
                      : ""
                  }}</span
                >
              </ng-container>
            </div>
            <div class="form-group mb-4">
              <label for="">Quận/Huyện</label>
              <nz-select
                formControlName="district"
                [nzDisabled]="
                  this.formAddress.get('province')?.value ? false : true
                "
                [nzLoading]="loadingDistrict"
                nzSize="large"
                (ngModelChange)="onChangeDistrict($event)"
              >
                <nz-option
                  *ngFor="let district of districts"
                  [nzValue]="district"
                  [nzLabel]="district.name!"
                ></nz-option>
              </nz-select>
              <ng-container *ngIf="formAddress.get('district')!.invalid">
                <span
                  class="mt-1 text-danger"
                  *ngIf="formAddress.get('district')?.touched"
                  >{{
                    (formAddress.get("district")?.errors)!["required"]
                      ? "Vui lòng chọn Quận/Huyện"
                      : ""
                  }}</span
                >
              </ng-container>
            </div>
            <div class="form-group mb-4">
              <label for="">Phường/xã</label>
              <nz-select
                formControlName="ward"
                [nzDisabled]="
                  this.formAddress.get('district')?.value ? false : true
                "
                [nzLoading]="loadingWard"
                (ngModelChange)="onChangeWard($event)"
                nzSize="large"
              >
                <nz-option
                  *ngFor="let ward of wards"
                  [nzValue]="ward"
                  [nzLabel]="ward.name!"
                ></nz-option>
              </nz-select>
              <ng-container *ngIf="formAddress.get('ward')!.invalid">
                <span
                  class="mt-1 text-danger"
                  *ngIf="formAddress.get('ward')?.touched"
                  >{{
                    (formAddress.get("ward")?.errors)!["required"]
                      ? "Vui lòng chọn Xã/Phường"
                      : ""
                  }}</span
                >
              </ng-container>
            </div>
            <div>
              <div class="form-group mb-4">
                <label for="detail">Địa chỉ chi tiết</label>
                <textarea
                  nz-input
                  placeholder=""
                  formControlName="detail"
                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                ></textarea>
                <ng-container *ngIf="formAddress.get('detail')!.invalid">
                  <span
                    class="mt-1 text-danger"
                    *ngIf="formAddress.get('detail')?.touched"
                    >{{ (formAddress.get("detail")?.errors)!["detail"] }}</span
                  >
                </ng-container>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
    </nz-modal>
  </div>
</section>
